<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/application.html}">

<section layout:fragment="header">
    Просмотр отдельного url
</section>

<section layout:fragment="content" th:object="${url}">
    <div class="card">
        <div class="card-header bg-secondary text-white">
            <h2 th:text="*{getName()}"></h2>
        </div>
        <div class="card-body bg-light">
            <p class="lead" th:text="*{getCreatedAt()}"></p>
        </div>
    </div>
</section>

</html>